header{
    border-bottom:1px solid var(--point-color); 
    padding-bottom: 2rem;
    background-color: #fff;  
    max-height: 100px;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease 0s;
}
header:hover{
    max-height: 400px;
}
header .common-frame{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.gnb{
    display: flex;
    gap:2.5rem;
}
.gnb>li>a{
    font-size:var(--fs-bd2);
    font-weight: var(--fw-bold);
    height:100px;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}
.gnb ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size:var(--fs-bd2);
    font-weight: var(--fw-med);
}
header .sns{
    height: 100px;
}
header .sns li{
    display: flex;
    align-items: center;
}
.gnb a:hover{
    color:var(--point-color);
}