*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{
    font-size:inherit;
    font-weight: inherit;
}
img{max-width: 100%;}
table{border-collapse: collapse;}
a{
    color:inherit;
    text-decoration: inherit;
}
address,i{
    font-style:inherit;
}
ul,ol{list-style: none;}