.sub-banner{
    height:600px;
    background: url(../img/sub-banner-story.jpg) 50% 50% / cover;
}
.sub-banner .common-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    height:100%;
}
.core{
    margin-top: var(--space-3x-large);
}
.core h1{
    font-size:120px;
    text-transform: uppercase;
    line-height: 100%;
    text-align: center;
    margin-bottom: var(--space-normal);
}
.core h1+p{
    text-align: center;
    margin-bottom: var(--space-x-large);
}
.core-card{
    
}
.core-card>li{
    border:1px solid #cfcfcf;
    padding:var(--space-large);
    border-radius: 1rem;
    box-sizing: border-box;
}
.core-card>li>h4{
    margin-bottom: var(--space-small);
}
.core-card>li>h4+p{
    margin-bottom: var(--space-normal);
}
.core-card>li>h4+*+p{
    margin-bottom: var(--space-normal);
}
.core-card>li>figure{
    margin-bottom: var(--space-normal);
}
.core-card>li ul{
    margin-bottom: var(--space-normal);
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}
.core-check-list li{
    display: flex;
    gap:var(--space-small);
}
.core-check-list li img{
    height:1.2rem;
}



@media (max-width:1440px){
    .sub-banner{
        height:400px;
    }
    .core h1{
        font-size:108px;
    }

}
@media (max-width:768px){
    .sub-banner{
        height:500px;
    }
    .core h1{
        font-size:60px;
    }
}
@media (max-width:350px){
    .core h1{
        font-size:46px;
    }
}