:root{
    /* 화면에 따른 수치 */
    --basic-font-pc:20px;
    --basic-font-tab:18px;
    --basic-font-mobile:14px;

    /* 글씨 크기 */
    --fs-h1:1.601rem;
    --fs-h2:1.423rem;
    --fs-h3:1.265rem;
    --fs-h4:1.125rem;
    --fs-bd1:1rem;
    --fs-bd2:0.875rem;
    --fs-det:0.765rem;

    /* 글씨 굵기 */
    --fw-reg:400;
    --fw-med:500;
    --fw-bold:700;

    /* 색상 */
    /* main->700 */
    --pm-color-0:#C2C2C2;
    --pm-color-100:#A6BFB6;
    --pm-color-200:#8BBAAA;
    --pm-color-300:#72B29C;
    --pm-color-400:#5DA78D;
    --pm-color-500:#4B987D;
    --pm-color-600:#3B846A;
    --pm-color-700:#2C6A54;
    --pm-color-800:#1E4D3C;
    --pm-color-900:#112E24;

    /* 여백 */
    --space-2x-small:0.125rem;
    --space-x-small:0.25rem;
    --space-small:0.5rem;
    --space-normal:1rem;
    --space-large:2rem;
    --space-x-large:3rem;
    --space-2x-large:4rem;
    --space-3x-large:6rem;

}